* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Questrial', sans-serif;
    background-color: #fafafa;
    color: #000;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode {
    background-color: #252423;
    color: #fff;
}

#theme-toggle {
    margin-bottom: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Questrial', sans-serif;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
}

#theme-toggle:hover {
    background-color: #0056b3;
}

body.dark-mode #theme-toggle {
    background-color: #555;
    color: white;
}

body.dark-mode #theme-toggle:hover {
    background-color: #333;
}

textarea {
    margin-top: 20px;
}