* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Questrial', sans-serif;
    background-color: #fafafa;
    color: #000;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode {
    background-color: #252423;
    color: #fff;
}

#theme-toggle, #tracker-btn {
    margin-bottom: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Questrial', sans-serif;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
}

#theme-toggle:hover, #tracker-btn:hover {
    background-color: #0056b3;
}

body.dark-mode #theme-toggle, body.dark-mode #tracker-btn {
    background-color: #555;
    color: white;
}

body.dark-mode #theme-toggle:hover, body.dark-mode #tracker-btn:hover {
    background-color: #333;
}

textarea {
    width: 80%;
    max-width: 500px;
    margin: 20px auto 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    font-family: 'Questrial', sans-serif;
    resize: vertical;
}

body.dark-mode textarea {
    background-color: #333;
    color: #fff;
    border-color: #555;
}